/**
* cards.css
*
* Index 
* - Card Base
* - Course Card
* - Main Project Card
* - Project Card
*/

/**
* Card Base 
*/

.card {
    background-color: var(--primary300);
    border-radius: 30px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
}

/**
* Course Card 
*/

.course-card {
    margin-block: 1.5rem;
    
    align-items: center;
    
    text-align: center;
}

.course-card p {
    margin-block: 0.5rem;
}

/**
* Main Project Card
*/

.main-project-card {
    display: flex;
    flex-direction: column;
}

.main-project-card .card {
    background-color: var(--primary400);
    border-radius: 0.5rem;

    width: 85vw;
    padding: 1rem 1rem 1.5rem 1rem;

    position: relative;
    top: 35px;
}

/**
* Project Card
*/

.project-card {
    margin-block: 1.5rem;
    padding: 0.5rem;

    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--secondary100);
}

.project-card .skills-list {
    order: 0;
    align-self: flex-start;

    margin: 0;
    padding: 0.15rem;

    flex-direction: row;
    position: initial;
}

.project-card .skills-list li {
    margin-inline: 0.2rem;
}

.project-card h5 {
    order: 1;

    padding: 0.15rem;
}

.project-card p {
    order: 2;
    align-self: flex-start;

    width: 70vw;
}

.project-card .projects-actions {
    order: 3;
    align-self: flex-end;
    
    margin: 0;
    padding-bottom: 0;

    position: initial;
}

@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 769px) {
    section {
        position: relative;
    }
    main > section::after {
        content: '';
        width: 48vw;
        height: 50vh;

        border-radius: 30px;
        background-color: var(--primary200);

        position: absolute;
        z-index: -9999;
    }

    main > section:nth-child(1)::after {
        top: 2rem;
    }
    main > section:nth-child(2)::after {
        top: 25%;
        width: 50vw;
    }
    main > section:nth-child(3)::after {
        width: 60vw;
        height: 69vh;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
    }

    .course-card {
        width: 360px;
        height: 584px;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .main-project-card {
        width: 30vw;

        display: flex;
        flex-direction: column;

        position: relative;
    }

    .main-project-card .projects-actions,
    .main-project-card .skills-list,
    .main-project-card .card {
        position: unset;
    }

    .main-project-card:nth-child(2) {
        margin-top: 2rem;
    }

    .main-project-card:nth-child(2),
    .main-project-card:nth-child(2) h4 {
        align-self: flex-end;
    }
    .main-project-card:nth-child(3),
    .main-project-card:nth-child(3) h4 {
        align-self: flex-start;
    }

    .main-project-card h4 {
        margin-inline: 0;
    }

    /* .project-img {
        display: none;
    } */

    .main-project-card .card {
        width: 30vw;

        order: 1;
    }
    
    .main-project-card .skills-list {
        flex-direction: row;
        order: 2;
        margin-inline: 0;
    }

    .main-project-card .skills-list.right,
    .main-project-card .projects-actions.right {
        justify-content: end;
    }
    
    .main-project-card .projects-actions {
        order: 3;
        margin-inline: 0;;
    }

    .main-project-card .skills-list li {
        margin-inline: 0.5rem;
    }

    .main-project-card .projects-actions,
    .project-card .projects-actions {
        width: 5vw;
    }

    .project-card {
        width: 20vw;
        height: 30vh;

        padding: 0.5rem 1rem;

        position: relative;
    }

    .project-card .skills-list li {
        margin-inline: 0.4rem
    }
    .project-card .skills-list li:first-child {
        margin-left: 0;;
    }

    .project-card .projects-actions {
        position: absolute;
        top: 14.5rem;
        right: 0.5rem;
    }
}