/**
* images.css
*
* Index
* - Site Logo
* - Hero Profile Picture
* - Course Languages Logos
* - Projects Images / Logos
*/

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/**
* Site Logo
*/

.title img {
    position: relative;
    z-index: 9999;
}

/**
* Hero Profile Picture
*/

.hero-img {
    background-image: url('../images/profil-picture.jpeg');

    border-radius: 0.5rem;

    margin: auto;
    height: 9rem;
    width: 40vw;

    position: absolute;
    bottom: -12%;
    right: 0;
    left: 0;
}

/**
* Course Languages Logos
*/

.languages-logos {
    margin-top: 1.5rem;
    align-self: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.course img,
.languages-logos img {
    align-self: center;

    width: 15vw;

    border-radius: 0.5rem;
}

/**
* Projects Images / Logos
*/

.projects-actions img {
    width: 24px;
    height: 24px;
}

.project-img {
    border: 1px solid var(--text);
    border-radius: 0.5rem;

    height: 277px;
    width: 360px;

    background-position: center top;
    
    position: absolute;
    top: 20%;

    z-index: -999;
}

.img1 {
    background-image: url('../images/project-img/Screenshot\ 2023-09-25\ at\ 16.12.18.png');
    left: 0;
    transform: translateX(-40%);
}

.img1:before {
    content: url('../images/project-card-symbols/windowLogosRight.svg');

    position: absolute;
    right: 0.5rem;
    top: -1rem;
}

.img2 {
    background-image: url('../images/project-img/Screenshot\ 2024-03-29\ at\ 16.03.08.png');
    right: 0;
    transform: translateX(40%);
}

.img2::before {
    content: url('../images/project-card-symbols/windowLogosLeft.svg');
    
    position: absolute;
    left: 0.5rem;
    top: -1rem;
}

@media (min-width: 769px) {

    .hero-img {
        height: 330px;
        width: 330px;

        top: -5rem;
        right: -38rem;
    }

    .course > img {
        width: 150px;

        position: absolute;
        bottom: -5%;

        z-index: 9999;
    }

    .languages-logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .languages-logos img {
        width: 64px;
    }

    .course-card:first-child .languages-logos abbr:nth-of-type(2) {
        margin-left: 1rem;
    }

    .main-project-card:nth-child(2) .project-img {
        top: 0;
    }
    .main-project-card:nth-child(3) .project-img {
        top: 1rem;
    }

    .img1 {
        transform: translateX(-93%);
    }

    .img2 {
        transform: translateX(93%);
    }

    .img1::before {
        content: url('../images/project-card-symbols/windowLogosLeft.svg');

        left: 0.5rem;
    }

    .img2:before {
        content: url('../images/project-card-symbols/windowLogosRight.svg');
    
        left: 18.25rem;
        width: fit-content;
    }
}