/**
* layout.css
*
* Index
* - Sections Layout
* - Page Layout
*/

/**
* Sections Layout
*/

.layout {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
}

/**
* Page Layout
*/

.margin {
    margin: 1.5rem;
}

@media (min-width: 769px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 70vw;
    }
}