/**
* navigation.css
*
*
*/


.navButton {
    height: 72px;
    width: 72px;

    border-radius: 100%;
    border: none;

    position: fixed;
    right: 1rem;
    bottom: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 9999;

    cursor: pointer;
}

.open {
    background-color: transparent;
    background-image: url('../images/icons/clarity_window-close-line.svg');
}
.close {
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    background-image: url('../images/icons/majesticons_more-menu.svg');
}

.nav-mobile {
    display: none;

    background-color: var(--background);

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    padding: 1rem;

    z-index: 9998;
}

nav ul {
    display: block;
}

.nav-mobile li {
    font-size: var(--h2-fs);
    font-family: var(--title-monospace);

    margin-block: 1rem;
    margin-right: 1rem;
}

.nav-mobile li:first-child {
    margin-top: 45vh;
}

.nav-mobile span {
    margin-right: 1rem;
}

.nav-mobile a {
    display: flex;
    justify-content: end;
}

.nav-mobile .cvLink {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    
    height: 72px;
    width: 146px;

    color: var(--primary1100);
    align-items: center;
    justify-content: center;
}

@media (min-width: 769px) {
    .navButton {
        display: none;
    }

    .nav-desktop {
        --animation-start: 200vh;
        --animation-end: 220vh;

        /* animation: movingNav linear forwards;
        animation-timeline: view();
        animation-range-start: var(--animation-start);
        animation-range-end: var(--animation-end); */
    }

    .nav-desktop ul {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        width: 50vw;

        /* animation: movingUl linear forwards;
        animation-timeline: view();
        animation-range-start: var(--animation-start);
        animation-range-end: var(--animation-end); */
    }

    .nav-desktop li {
        margin-inline: 3rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        font-family: var(--title-monospace);
        font-size: var(--h6-fs);

        position: relative;

    }
    
    
    .nav-desktop li span {
        position: absolute;
        left: -3rem;
    }
    
    .nav-desktop li:hover {
        color: var(--text);
    }
    .nav-desktop li a {
        /* animation: changingA linear forwards; */
    }

    .nav-desktop .cvLink {
        padding: 1rem 3rem;
        color: var(--primary1100);
    }

    .nav-desktop .cvLink:hover,
    .nav-desktop li:hover {
        background-color: var(--primary800);
    }

    .nav-desktop li:last-child:hover {
        background-color: transparent;
    }

    /* animate nav so it goes up when scolling down, top: -5rem, and then appears at the right in new position fixed */

    /* @keyframes movingNav {
        100% {
            position: fixed;
            right: 0;
            top: 40%;
        }
    } */

    /* @keyframes movingUl {
        100% {
            flex-direction: column;
            width: fit-content;
        }
    } */
    
    @keyframes changingA {
        100% {
            color: var(--secondary100);
        }
    }
}