@import 'typeface.css';
@import 'colors.css';
@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
}
a, a:visited, a:active {
    color: var(--text);
    text-decoration: none;
}
i {
    color: black;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

img {
    width: 5rem;
}

/* above is only while testing */

html, body {
    overflow-x: hidden; /*To prevent second image of main projects to create scroll bar*/
}

body {
    background-color: var(--background);
    font-family: var(--body);
    font-size: var(--body1-fs);
}

/* HEADER */

header {
    margin: 2rem 1.5rem;
}

.navButton {
    background-color: var(--primary400);
    height: 72px;
    width: 72px;
    border-radius: 100%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 9999;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px var(--secondary100);
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    background-color: var(--background);
}

/* ====== */

main {
    margin: 3rem 1.5rem;
}

/* TYPEFACES */

h1, h2, h3, h4, .body-ft-big {
    font-family: var(--title-display);
}

.body-ft-small, .skills-list li, button, footer p {
    font-family: var(--title-monospace);
}

h2 {
    font-size: var(--h3-fs);
    font-weight: 500;
    text-align: left;
}

h3 {
    font-size: var(--h4-fs);
    margin-block: 2rem;
}

h4, .body-ft-big {
    font-size: var(--h5-fs);
}

h5 {
    font-size: var(--h5-fs);
}

h3, .more-projects h4  {
    position: relative;
}

h3:after, .more-projects h4:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 0.5rem;
    background: var(--text);
    left: 0;
    bottom: 0;
    position: absolute;
}

/* ======== */

/* HERO SECTION */

.hero {
    margin-bottom: 4rem;
    padding: 1rem 1.5rem 5rem 1.5rem;
    border-radius: 30px;
    background-color: var(--primary200);

    display: flex;
    flex-direction: column;

    position: relative;
}

.hero .body-ft-big {
    width: 60vw;
}

.social-links {
    align-self: center;
    margin-block: 1.5rem;
    width: 30vw;

    display: flex;
    justify-content: space-between;
}

.hero-img {
    border-radius: 0.5rem;

    background-image: url('../images/profil-picture.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 9rem;
    width: 40vw;

    position: absolute;
    bottom: -12%;
    right: 0;
    left: 0;
    margin: auto;
}

/* ======== */

/* COURSE SECTION */

.course {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
}

.course > img {
    align-self: center;

    border-radius: 0.5rem;

    width: 30vw;
}

.course-card {
    margin-block: 1rem;
    padding: 1.5rem;
    border-radius: 30px;
    background-color: var(--primary200);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.course-card p {
    margin-bottom: 0.5rem;
}

.skills {
    margin-top: 1.5rem;
}

/* ======== */

/* PROJECTS SECTION */

.projects {
    display: flex;
    flex-direction: column;
}

.main-project-card {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 2rem;
}

.main-project-card h4 {
    margin: 1rem;
    text-align: center;
    justify-self: center;
}

.skills-list, .projects-actions {
    margin-inline: 1.5rem;
}

.skills-list {
    order: 0;
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20vw;
    margin-top: 1rem;

    position: relative;
    top: 25px;
}

.skills-list li {
    margin-block: 0.5rem;
    text-transform: uppercase;
    /* text-align: center; */
    font-size: var(--small-fs);
    font-weight: 800;
}

.projects-actions {
    order: 1;

    display: flex;
    justify-content: space-around;

    width: 20vw;
    padding-block: 0.5rem;

    position: relative;
    top: 35px;
}

.projects-actions a {
    display: inline-block;

    height: 24px;
    width: 24px;
}

.projects-actions img {
    width: 24px;
    height: 24px;
}

.main-project-card p {
    order: 2;

    width: 75vw;

    /* margin-top: 5rem; */
    padding: 1rem 1rem 1.5rem 1rem;

    background-color: var(--primary300);
    border-radius: 0.5rem;

    position: relative;
    top: 35px;
}

.right {
    align-self: flex-end;
}

.left {
    align-self: flex-start;
}

.project-img {
    border:1px solid red;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 277px;
    width: 360px;
    
    position: absolute;
    top: 20%;
}

.img1 {
    background-image: url('../images/Screenshot\ 2024-03-27\ at\ 19.41.21.png');
    left: 0;
    transform: translateX(-40%);
}

.img2 {
    background-image: url('../images/Screenshot\ 2024-03-27\ at\ 19.41.21.png');
    right: 0;
    transform: translateX(40%);
}

.more-projects {
    margin-bottom: 2rem;
}

.more-projects h4 {
    margin-block: 3rem 2rem;
    text-align: center;
}

.project-card {
    margin-block: 1.5rem;
    padding: 0.5rem;
    background-color: var(--primary200);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--secondary100);

    display: flex;
    flex-direction: column;
}

.project-card .skills-list {
    order: 0;
    flex-direction: row;
    position: initial;
    align-self: flex-start;
    margin: 0;
    padding: 0.15rem;
}
.project-card .skills-list li {
    margin-inline: 0.2rem;
}
.project-card h5 {
    order: 1;
    padding: 0.15rem;
}

.project-card p {
    order: 2;
    align-self: flex-start;
    width: 70vw;
}

.project-card .projects-actions {
    order: 3;
    align-self: flex-end;
    position: initial;
    margin: 0;
    padding-bottom: 0;
}

/* ====== */

/* CONTACT SECTION */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10rem; */
    text-align: center;

}
.contact p {
    margin: 1rem;
    width: 70vw;

}

.button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary400);
    font-size: var(--body2-fs);
}

/* ======= */

/* FOOTER */

footer {
    background-color: var(--primary200);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
}