@import 'variables/typeface.css';
@import 'variables/colors.css';
@import 'normalize.css';
@import 'cards.css';
@import 'layout.css';
@import 'navigation.css';
@import 'images.css';
@import 'buttons.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    overflow-x: hidden; /*To prevent second image of main projects to create scroll bar*/
}

body {
    background-color: var(--background);
    font-family: var(--body);
    font-size: var(--body1-fs);
}

a, 
a:visited, 
a:active {
    color: var(--text);
    text-decoration: none;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

/* TYPEFACES */

h1, 
h2,
.body-ft-big,
h4 {
    font-family: var(--title-display);
    font-weight: 600;
}

h3,
.body-ft-small, 
.skills-list li, 
button, 
footer p {
    font-family: var(--title-monospace);
    font-weight: 400;
}

h2 {
    font-size: var(--h2-fs);
    font-weight: 500;
    text-align: left;
}

h3 {
    font-size: var(--h3-fs);
    margin-block: 2rem;
}

h4, 
.body-ft-big {
    font-size: var(--h4-fs);
    margin: 1rem;
}

h5 {
    font-size: var(--h5-fs);
}

h3, 
.more-projects h4  {
    position: relative;
}

h3:after, 
.more-projects h4:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 0.5rem;
    background: var(--text);
    left: 0;
    bottom: 0;
    position: absolute;
}

.numerotation {
    font-size: var(--h6-fs);
}

/* ----------------------------- */

/* ----------------------------- */
/**  
* HERO SECTION
*/

.hero {
    margin-bottom: 15rem;
    padding-bottom: 3.5rem;

    position: relative;
}

.hero .body-ft-big {
    width: 60vw;
    margin: 0;
}

.social-links {
    align-self: center;

    margin-block: 1.5rem;
    width: 30vw;

    display: flex;
    justify-content: space-between;
    color: black;
}

.social-links i:hover {
    color: var(--primary1100);
}

.scrollText {
    position: relative;
    bottom: -6rem; /*?*/
    left: -2rem;
    padding-inline: 0.5rem;
}

.scrollText:after {
    content: "";
    width: 1.5rem;
    height: 1px;
    background: var(--text);
    position: absolute;
    bottom: -60%;
    left: 1.5rem;

    transform: rotate(90deg);
}

/* ----------------------------- */

/* ----------------------------- */
/**  
* PROJECTS SECTION
*/

.main-project-card {
    margin-bottom: 4rem;

    position: relative;
}

.main-project-card h4 {
    align-self: center;
}

.skills-list, 
.projects-actions {
    margin-inline: 1.5rem;
    width: 20vw;

    display: flex;

    position: relative;
    top: 35px;
}

.skills-list {
    order: 0;
    align-self: flex-end;

    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
}

.skills-list li {
    margin-block: 0.5rem;

    font-size: var(--small-fs);
    font-weight: 800;
    text-transform: uppercase;
}

.projects-actions {
    order: 1;

    justify-content: space-around;

    padding-block: 0.5rem;
}

.projects-actions a {
    display: inline-block;

    height: 24px;
    width: 24px;
}

.main-project-card .card {
    order: 2;
}

.right {
    align-self: flex-end;
}

.left {
    align-self: flex-start;
}

.more-projects h4 {
    margin-block: 3rem 3rem;
    text-align: center;
}

/* ----------------------------- */

/* ----------------------------- */
/**  
* CONTACT SECTION
*/

.contact {
    align-items: center;
    text-align: center;
}
.contact p {
    margin: 0.5rem;
    width: 70vw;
}

/* ----------------------------- */

/* ----------------------------- */
/**  
* FOOTER SECTION
*/

footer {
    width: 100%;
    padding: 1rem;

    background-color: var(--primary300);

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
}

/* ----------------------------- */


@media (min-width: 320px) and (max-width: 768px) {

}

@media (min-width: 769px) {

    html, 
    body {
        overflow-x: auto; /*To prevent second image of main projects to create scroll bar*/
    }

    h3 {
        width: 30vw;
        text-align: left;
        align-self: center;
    }

    h3:after {
        width: 30vw;
    }

    .numerotation {
        font-size: var(--h4-fs);
    }
    

    /* ----------------------------- */
    /**  
    * HEADER
    */
    
    header {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin-left: 3rem;
    }

    .sticky {
        position: sticky;
        top: 3rem;
    }
    
    /* ----------------------------- */

    /* ----------------------------- */
    /**  
    * HERO SECTION
    */

    .hero {
        margin-top: 5rem;
        padding: 5rem 3.5rem;
        height: 50vh;
    }

    .text-wrapper {
     width: 25vw;   
    }

    .hero .body-ft-big {
        margin-bottom: 2rem;
    }

    .social-links {
        width: 10vw;
    
        justify-content: space-around;
    }

    .hero .social-links {
        position: absolute;
        bottom: 0.5rem;
        right: 2.5rem;
    }

    .scrollText {
        bottom: -190%;
        left: 109%;

        transform: rotate(90deg);
    }

    .scrollText:after {
        transform: rotate(180deg);
        bottom: 50%;
        left: 10%;
    }

    /* ----------------------------- */

    /* ----------------------------- */
    /**  
    * HERO SECTION
    */

    .more-projects-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .more-projects p {
        width: 100%;
    }

    /* ----------------------------- */
}